---
import { experiences, education } from "../../consts.ts";
import Button from "../Button.jsx";
import {FontAwesomeIcon} from '@fortawesome/react-fontawesome';
import {faExternalLinkAlt} from '@fortawesome/free-solid-svg-icons';

interface Props {
  section?: string;
}

const { section = "education" } = Astro.props;
let contentItems = undefined;
let sectionTitle = undefined;
let sectionTagline = undefined;

if (section === "education") {
  contentItems = education;
  sectionTitle = "Education";
  sectionTagline = "My studies over the years";
} else {
  contentItems = experiences;
  sectionTitle = "Experience";
  sectionTagline = "A list of my professional work experiences";
}




---
<div class="mb-5">
  <h1 class="text-2xl font-bold tracking-tight sm:text-3xl">{sectionTitle}</h1>
  <h2 class="pt-1 text-lg text-gray-600 sm:text-xl">{sectionTagline}</h2>
</div>
<div class="flex min-w-0 flex-col gap-2 text-base leading-7 sm:text-lg">
  <div class="space-y-6">
    {contentItems.map((item) => (
      <article class="min-w-0 overflow-hidden border-t border-gray-200 pt-5 first:border-t-0 first:pt-0">
        <div class="flex flex-col gap-1 text-lg sm:text-xl md:flex-row md:flex-wrap md:items-baseline">
          <span class="font-bold">{item.title}</span>
          <span class="text-gray-700 md:pl-1">{item.where} ({item.from} to {item.to})</span>
        </div>
        <div class="flex h-full min-w-0 w-full flex-wrap py-3">
          {item.topSkills.map((p) => (
            <Button>{p}</Button>
          ))}
          {item.links &&
            item.links.map((p) => (
              <Button>
                <a href={`https://${p}`} class="items-center justify-center" target="_blank">
                  <FontAwesomeIcon class="mr-1" icon={faExternalLinkAlt} style={{width: "1em", height: "1em", color: "white"}}/> 
                  {p}
                </a>
              </Button>
            ))}
        </div>
        {item.short && <p>{item.short}</p>}
        {item.points && (
          <>
            <ul class="list-disc space-y-1 pt-2">
              {item.points.map((p) => (
                <li class="ml-5 sm:ml-8">{p}</li>
              ))}
            </ul>
          </>
        )}
        <p>{item.tagline}</p>
      </article>
    ))}
  </div>
</div>
