---
import { projects } from "../../consts.js";
import { Project } from "../project.jsx";

---
<h1 class="text-2xl font-bold mb-2">Projects</h1>
<h2 class="pb-4 text-xl text-gray-600">Showcasing my skills</h2>
<div class="columns-1 2xl:columns-2 gap-6">
  {projects.map((project) => (
    <div class="break-inside-avoid inline-block w-full my-1">
      <Project
        title={project.title}
        body={project.body}
        buttons={project.buttons}
        image={project.image}
        link={project.link}
      />
    </div>
  ))}
</div>
