---
import BaseHead from '../components/BaseHead.astro';
import Projects from '../components/sections/projects.jsx'
import Header from '../components/Header.jsx';
import Blogs from '../components/sections/blogs.astro'
import Entry from '../components/sections/entry.astro'
import Projects from '../components/sections/projects.astro'
import { SITE_TITLE, SITE_DESCRIPTION, PROFILE } from '../consts';

const isBuild = false

var firstQuickLink = true;
---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header client:load/>
      <div class="flex flex-col" id="top">
        <main class="flex flex-col items-center px-4">
          {isBuild && (
            <>
              <div class="m-4 rounded-full border-8 border-red-500 p-4">
                (Page experience still being built...)
                <br />
                If you found this page, please explore the buttons just below
              </div>
            </>
          )}
          <div class="w-full lg:w-7/12">
            <section class="mx-2 py-6 md:mx-0 md:py-12">
              <h1 class="text-4xl font-bold">{PROFILE.name}</h1>
              <h2 class="pb-4 text-xl text-gray-600">{PROFILE.role} // {PROFILE.location}</h2>
              <p class="text-lg">{PROFILE.blurb}</p>
              <div class="flex flex-col pt-4 md:grid md:grid-cols-4">
                {PROFILE.quickLinks.map((l) => {
                  var btnClass = "h-10 w-full items-center justify-center rounded-md border-gray-200 border px-4 py-2 text-center";
                  if (firstQuickLink) {
                    btnClass = btnClass + " bg-black text-white";
                    firstQuickLink = false;
                  }
                  return (
                    <div class="mx-0 my-1 md:mx-1 md:my-0">
                      <a href={l.link} target="_blank">
                        <p class={btnClass}>{l.name}</p>
                      </a>
                    </div>
                  );
                })}
              </div>
            </section>
            <section class="mx-2 py-6 md:mx-0 md:py-12" id="experience">
              <Entry section="experience" />
            </section>
            <section class="mx-2 py-6 md:mx-0 md:py-12" id="education">
              <Entry section="education" />
            </section>
            <section class="mx-2 py-6 md:mx-0 md:py-12" id="projects">
              <Projects />
            </section>
          </div>
        </main>
      </div>
	</body>
</html>
