---
import { education } from "../consts.ts";
import Button from "../components/Button.jsx";
import {FontAwesomeIcon} from '@fortawesome/react-fontawesome';
import {faExternalLinkAlt} from '@fortawesome/free-solid-svg-icons';
---

<h1 class="text-2xl font-bold">Education</h1>
<h2 class="pb-4 text-xl text-gray-600">My studies over the years</h2>
<div class="flex flex-col gap-2 text-lg">
  <div class="space-y-5">
    {education.map((experience) => (
      <div>
        <div class="text-xl">
          <span class="font-bold">{experience.title}</span>
          <span class="font-thin">
            {", "} {experience.where} ({experience.from} to {experience.to})
          </span>
        </div>
        <div class="flex h-full w-full flex-wrap py-2">
          {experience.topSkills.map((p) => (
            <Button>{p}</Button>
          ))}
          {experience.links &&
            experience.links.map((p) => (
              <Button>
                <a href={`https://${p}`} class="items-center justify-center">
                  <FontAwesomeIcon class="mr-1" icon={faExternalLinkAlt} style={{width: "1em", height: "1em", color: "white"}}/> 
                  {p}
                </a>
              </Button>
            ))}
        </div>
        {experience.short && <span>{experience.short}</span>}
        {experience.points && (
          <>
            <ul class="list-disc space-y-0">
              {experience.points.map((p) => (
                <li class="ml-8">{p}</li>
              ))}
            </ul>
          </>
        )}
        <p class="text-md">{experience.tagline}</p>
      </div>
    ))}
  </div>
</div>
