---
import { experiences, education } from "../consts.ts";
import Button from "../components/Button.jsx";
import {FontAwesomeIcon} from '@fortawesome/react-fontawesome';
import {faExternalLinkAlt} from '@fortawesome/free-solid-svg-icons';

interface Props {
  section?: string;
}

const { section = "education" } = Astro.props;
let contentItems = undefined;
let sectionTitle = undefined;
let sectionTagline = undefined;

if (section === "education") {
  contentItems = education;
  sectionTitle = "Education";
  sectionTagline = "My studies over the years";
} else {
  contentItems = experiences;
  sectionTitle = "Experience";
  sectionTagline = "A list of my professional work experiences";
}




---
<h1 class="text-2xl font-bold">{sectionTitle}</h1>
<h2 class="pb-4 text-xl text-gray-600">{sectionTagline}</h2>
<div class="flex flex-col gap-2 text-lg">
  <div class="space-y-5">
    {contentItems.map((item) => (
      <div>
        <div class="text-xl">
          <span class="font-bold">{item.title}</span><span class="font-thin">,
            {item.where} ({item.from} to {item.to})
          </span>
        </div>
        <div class="flex h-full w-full flex-wrap py-2">
          {item.topSkills.map((p) => (
            <Button>{p}</Button>
          ))}
          {item.links &&
            item.links.map((p) => (
              <Button>
                <a href={`https://${p}`} class="items-center justify-center">
                  <FontAwesomeIcon class="mr-1" icon={faExternalLinkAlt} style={{width: "1em", height: "1em", color: "white"}}/> 
                  {p}
                </a>
              </Button>
            ))}
        </div>
        {item.short && <span>{item.short}</span>}
        {item.points && (
          <>
            <ul class="list-disc space-y-0">
              {item.points.map((p) => (
                <li class="ml-8">{p}</li>
              ))}
            </ul>
          </>
        )}
        <p class="text-md">{item.tagline}</p>
      </div>
    ))}
  </div>
</div>
